@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;700&display=swap');

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
    color: var(--font-color);
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    margin-top: 50px;

    @media (max-width: $tablet) {
        margin-top: 30px;
    }
}

.App {
    display: flex;
}

.App__left {
    // // position: absolute;
    // // left: 0;
    // // top: 0;
    width: 100vw;
    // // margin-right: 500px;
    // margin-right: 340px;
    transition: margin-right 0.2s ease-in;

    &--open {
        margin-right: 340px;
    }
}


.App__right {
    transform: translateX(340px);
    transition: transform .2s ease-in;
    visibility: hidden;

    &--open {
    transform: translateX(0px);
    visibility: visible;

    }
}