:root {
    --logo-font: 'Reenie Beanie', cursive;
    --main-font: 'Noto Sans Display', sans-serif;

    --font-color: #272829;

    --ui-dark: #272829;
    --ui-grey: #61677A;

    --background-color: #F0F0F0;
}

$tablet: 888px;