.card {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}

.card__photo {
}

.card__title {
    font-size: 18px;
    font-weight: 500;
}

.card__weight {
    color: grey;
    font-size: 14px;
    margin-top: 4px;
}

.card__pizza-size {
    text-align: center;
    margin-bottom: 30px;
}

.pizza-size__list {
    margin-top: 10px;
    display: inline-flex;
    padding: 3px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: 400;
    border: 1px solid var(--ui-dark);
    height: 42px;
}

.pizza-size__list-item {
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: var(--background-color);
    }
}

.pizza-size__list-item--active {
    background-color: var(--ui-dark);
    color: #fff;
    border-radius: 20px;
    border: 1px solid var(--ui-dark);

    &:hover {
        background-color: lighten(#272829, 10%);
    }
}

.card__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    font-size: 20px;
    font-weight: 500;
}

.card__btn {
    background-color: var(--ui-dark);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: opacity 0.2s ease-in;

    &:hover {
        background-color: lighten(#272829, 10%);
    }
}

.card__btn--active {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    font-size: 20px;

    img {
        transition: opacity 0.2s ease-in;

        &:hover {
            opacity: 0.6;
        }
    }
}
