.cards-wrapper {
    margin-top: 80px;
    margin-bottom: 100px;

    @media(max-width: $tablet) {
        margin-top: 40px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

    @media(max-width: 970px) {
        grid-template-columns: repeat(3,1fr);
    }

    @media(max-width: 715px) {
        grid-template-columns: repeat(2,1fr);
    }

    @media(max-width: 495px) {
        grid-template-columns: repeat(1,1fr);
    }
}

.cards__title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}