.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    gap: 40px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo-img {
    width: 100px;
    height: 100px;
}

.nav__title {
    font-family: var(--logo-font);
    font-size: 40px;
    line-height: 80%;
    text-align: center;
    padding-top: 10px;
}