.tabs {
    @media(max-width: $tablet) {
        overflow-x: scroll;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}

.tab-controls {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;

    @media(max-width: $tablet) {
        gap: 10px;
    }
    
}

.tab-controls__btn {
    padding: 10px 20px;
    background-color: #FFF;
    border-radius: 20px;
    font-weight: 400;
    transition: all .2s ease-in;
    border: 1px solid #959595;
    max-height: 42px;
    white-space: nowrap;

    display: flex;
    align-items: center;

    &:hover {
        background-color: darken(#fff, 5%);
    }

    &--active {
        background-color: var(--ui-dark);
        border-color: var(--ui-dark);
        color: #FFF;

        &:hover {
            background-color: lighten(#272829, 10%);
        }
    }
}